**__pycache__**
**AttentionXML**

# Ignored RQ3 Bain lab downloaded model folders
rq3/mobilebert-uncased/**
rq3/sec-bert-base/**
rq3/sec-bert-num/**
rq3/sec-bert-shape/**

# Ignored RQ3 trained model folders
rq3/rq3_mobilebert_model/**
rq3/rq3_mobilebert_peft/**
rq3/rq3_sec_bert_base/**
rq3/rq3_sec_bert_num/**
rq3/rq3_sec_bert_shape/**
rq3/wandb

# RQ3 Bain lab downloaded model gitkeeps 
!rq3/mobilebert-uncased/.gitkeep
!rq3/sec-bert-base/.gitkeep
!rq3/sec-bert-num/.gitkeep
!rq3/sec-bert-shape/.gitkeep

# RQ3 trained model gitkeeps
!rq3/rq3_mobilebert_model/.gitkeep
!rq3/rq3_sec_bert_base/.gitkeep
!rq3/rq3_sec_bert_num/.gitkeep
!rq3/rq3_sec_bert_shape/.gitkeep

# NOTE: excluding rq3 model files for now. .gitkeep files are there to upload the folder
# They may need to be uploaded at some point when they are finalized though.