**__pycache__**
**AttentionXML**

# Ignored RQ3 Items
rq3/mobilebert-uncased/**
rq3/rq3_mobilebert_model/**
rq3/rq3_mobilebert_peft/**
rq3/rq3_sec_bert_base/**
rq3/rq3_sec_bert_num/**
rq3/rq3_sec_bert_shape/**
rq3/wandb

!rq3/mobilebert-uncased/.gitkeep
!rq3/rq3_mobilebert_model/.gitkeep
!rq3/rq3_sec_bert_base/.gitkeep
!rq3/rq3_sec_bert_num/.gitkeep
!rq3/rq3_sec_bert_shape/.gitkeep
# NOTE: excluding rq3 model files for now. .gitkeep files are there to upload the folder
# They may need to be uploaded at some point when they are finalized though.
rq2/processed_test/*
rq2/processed_train/*
word2vec.model
rq2/finer_labels.txt
rq2/finer_texts.txt
rq2/finer_tokenized.txt
rq2/emb_init.npy
rq2/finer_labels.npy
rq2/finer_tokenized.npy
rq2/vocab.npy
